<h1>Exchange Service</h1>
<div class="container">
    <h2>Form control: select</h2>
    <p>The form below contains two dropdown menus (select lists):</p>
    <form role="form">
        <div class="form-group">
            <label for="sel1">Select list (select one):</label>
            <select class="form-control" id="sel1">
                <option ng-repeat="y in rates">{{y.currencyCode}}</option>
            </select>
            <br>
            <label for="sel2">Mutiple select list (hold shift to select more than one):</label>
            <select multiple class="form-control" id="sel2">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
    </form>
</div>

<div ng-controller="view4Control">
    <h4>Refcur: {{refcur}} ---- Date: {{dato}}</h4> 
    <table class="table table-striped">
        <tr>
            <th>currency Code</th>
            <th>description</th>
            <th>rate</th>
        </tr>
        <tr ng-repeat="x in rates">

            <td>
                {{x.currencyCode}}
            </td>
            <td>
                {{ x.description}}
            </td>
            <td>
                {{ x.rate}}
            </td>
        </tr>
    </table>
</div>
